.container {
  display: flex;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 33.33%;
}

tr:nth-child(even){background-color: #f2f2f2}
